* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica;
}

h1 {
    font-size: 75px;
    text-align: center;
}

.table {
    background-color: green;
    display: grid;
    margin-left: 200px;
    margin-right: 200px;
}

.hand-label {
    position: relative;
    left: 80px;
    margin: 15px;
    font-size: 20px;
}

.dealer-hand {
    display: flex;
    justify-content: center;
    height: 250px;
}

.player-hand {
    display: flex;
    justify-content: center;
    height: 250px;
}

.bottom-row {
    display: flex;
    justify-content: space-evenly;
}

.buttons {
    margin: 10px;
}

.balance {
    margin: 15px;
    font-size: 20px;
}

.bet {
    margin: 15px;
    font-size: 20px;
}

input {
    font-size: 20px;
}

button {
    align-items: center;
    font-size: 20px;
    margin: 3px;
}

button:hover {
    background-color: steelblue;
}

.messages {
    text-align: center;
    font-size: 35px;
    margin-top: 30px;
}

#play-again  {
    visibility: hidden;
}
