* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica;
    position: absolute;
}

main {
    display: grid;
}

h1 {
    font-size: 75px;
    text-align: center;
}

.table {
    background-color: green;
}

